{% extends "layout.html.twig" %}

{% block body %}
  {{ parent() }}
  
 <div class="container table-responsive">
     
     <h3>Registered Users <strong><span class="label label-info" id="total">{{ pagination.getTotalItemCount }}</span> </strong></h3>
     <hr>
                    
    <table class="table">
	<thead>
		<tr>
			<th><center>Name</center></th>
			<th><center>Identification Card</center></th>
			<th><center>Birthdate</center></th>
			<th><center>Address</center></th>
                        <th><center>Phone</center></th>
			<th><center>Eps</center></th>
			<th><center>Contact Name</center></th>
			<th><center>Contact Phone</center></th>
                        <th><center>State</center></th>
			<th><center>Action</center></th>
		</tr>
	</thead>
{% for user in pagination %}
	<tbody>
		<tr>
			<td><center>{{ user.firstname }} {{ user.lastname }}</center></td>
			<td><center>{{ user.identificationcard }}</center></td>
			<td><center>{{ user.birthdate }}</center></td>
                        <td><center>{{ user.address }}</center></td>
			<td><center>{{ user.phone }}</center></td>
                        <td><center>{{ user.eps }}</center></td>
                        <td><center>{{ user.contactname }}</center></td>
			<td><center>{{ user.contactphone }}</center></td>
                        <td><center>
                            {% if user.active == 1 %}
                                <span class="glyphicon glyphicon-ok text-success"> Active</span>
                            {% elseif user.active == 0 %}
                                <span class="glyphicon glyphicon-time text-danger"> Waiting</span>
                            {% endif %}
                        </center></td>
                        <td>
                            <a href="{{ path('rac_Gnj_view', {id: user.id} ) }}" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></a>
                       </td>

		</tr>
	</tbody>
{% endfor %}
</table>
<div class="navigation">
  {{ knp_pagination_render(pagination) }}
</div>      
 </div>  
    
{%endblock %}