{% extends "layout.html.twig" %}

{% block body %}
  {{ parent() }}

<div class="bajar1">

<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
                <div class="col-md-7">
                    
                  <h2> Ficha Persona </h2>
                  <hr>
                  
                  <div class="col-md-4">
                      
                      <dl>
                        <dt>
                           Nombre: 
                        </dt>
                         <dd>
                           {{ user.firstname }}  
                         </dd> 
                         <hr>
                         <dt>
                           Apellido: 
                        </dt>
                         <dd>
                           {{ user.lastname }}  
                         </dd>
                         <hr>
                         <dt>
                           Cedula: 
                        </dt>
                         <dd>
                           {{ user.identificationcard }}  
                         </dd> 
                         <hr>
                         <dt>
                           Cumpleaños: 
                        </dt>
                         <dd>
                           {{ user.birthdate }}  
                         </dd> 
                    </dl>
                      
                  </div>
                  
                  <div class="col-md-4">
                      
                      <dl>
                        <dt>
                           E-mail: 
                        </dt>
                         <dd>
                           {{ user.mail }}  
                         </dd> 
                         <hr>
                         <dt>
                           Direccion: 
                        </dt>
                         <dd>
                           {{ user.address }}  
                         </dd>
                         <hr>
                         <dt>
                           Celular: 
                        </dt>
                         <dd>
                           {{ user.phone }}  
                         </dd>
                         <hr>
                         <dt>
                           Eps: 
                        </dt>
                         <dd>
                           {{ user.eps }}  
                         </dd>
                    </dl>
                      
                  </div>
                  
                  <div class="col-md-4">
                      
                      <dl>
                        <dt>
                           Nombre de Contacto: 
                        </dt>
                         <dd>
                           {{ user.contactname }}  
                         </dd> 
                         <hr>
                         <dt>
                           Celular contacto: 
                        </dt>
                        <dd>
                           {{ user.contactphone }}  
                        </dd>
                        <hr>
                        <dt>
                           Anexo: 
                        </dt>
                        <dd>
                           {{ user.annexed }}  
                        </dd>
                        <hr>
                        <dt>
                           Estado: 
                        </dt>
                        <dd>
                           {% if user.active == 0 %}
                             <span class="glyphicon glyphicon-time text-danger" id="glyphicon-{{user.id}}"> Waiting</span>
                           {% elseif user.active == 1 %}
                             <span class="glyphicon glyphicon-ok text-success" id="glyphicon-{{user.id}}"> Active</span>
                           {% endif %} 
                        </dd>
                    </dl>
                      
                  </div>
                       
                </div>
                        
                        <div class="col-md-2">
                            <h2>Photo</h2>
                            <hr>
                            <center><img src="{{ asset('uploads/'~user.photo)}}" height="150px" width="120px"></center>
                            <hr>
                            <h3>Actions</h3>
                            <center>
                             <div class="form-group">    
                            <a href="{{ path('rac_Gnj_edit', {id: user.id} ) }}" class="btn btn-block btn-success"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                             </div>
                        {% if is_granted('ROLE_SUADMIN') %} 
                             <div class="form-group">
                            </div>{{ include('RacRacBundle:Ganj:forms/form.html.twig', {form: delete_form, message: 'Are you sure the delete ?'|trans, id: 'form-delete'}) }}
                        {% endif %}    
                            </center>
                        </div>
	</div>
</div>

</div>

{%endblock %}
