   
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                     
      </button>
      <a class="navbar-brand" href="{{ path('rac_rac_homepage') }}">MerchusMix</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
     
    <ul class="nav navbar-nav">
    
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">New youth
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('rac_Gnj_homepage') }}">List User</a></li>
          <li><a href="{{ path('rac_Gnj_add') }}">Add User</a></li>
          <li><a href="#">User invoice</a></li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Friends Club
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('rac_Gca_add') }}">Add User</a></li>
          <li><a href="{{ path('rac_Gca_homepage') }}">List User</a></li>
          <li><a href="#">Assistance users</a></li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Zahira Events
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">calendar</a></li>
          <li><a href="#">Contracts</a></li>
          <li><a href="#">View event</a></li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">walk
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">walk</a></li>
          <li><a href="#">Payments</a></li>
        </ul>
      </li>
      
      <li><a href="{{ path('rac_rac_add') }}">Admin User</a></li>
    
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
      
    </div>
  </div>
</nav>
