{% extends "layout.html.twig" %}

{% block body %}
    {{ parent() }}

    
    <div class="container">
        {{ include('RacRacBundle:Ganj:message/alertsuccess.html.twig') }}
	<div class="row">
            
		<div class="col-md-4">
                    
                    <h2> Register User </h2>
                    
                    <hr>
                    
        {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'role' : 'form', 'class' : 'formulario'} } )}}
    
        <div class="form-group">
          {{ form_widget(form.fristname, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Frist name' } }) }}
          <span class="text-danger">{{ form_errors(form.fristname) }}</span>
        </div>
        
        <div class="form-group">
          {{ form_widget(form.lastname, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Last name' } }) }}
          <span class="text-danger">{{ form_errors(form.lastname) }}</span>
        </div>
        
        <div class="form-group">
          {{ form_widget(form.username, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Username' } }) }}
          <span class="text-danger">{{ form_errors(form.username) }}</span>
        </div>
        
        <div class="form-group">
          {{ form_widget(form.mail, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'E-mail' } }) }}
          <span class="text-danger">{{ form_errors(form.mail) }}</span>
        </div>
        
        <div class="form-group">
          {{ form_widget(form.password, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'password' } }) }}
          <span class="text-danger">{{ form_errors(form.password) }}</span>
        </div>
        
        <div class="form-group">
         <div class="checkbox">
           <label>
            {{ form_widget(form.active) }} Active
            <span class="text-danger">{{ form_errors(form.active) }}</span>
           </label>
         </div>
        </div>
        
        <div class="form-group">
            {{ form_widget(form.save, { 'label' : 'Register User', 'attr' : { 'class' : 'btn btn-block btn-success' } }) }}
        </div>
        
        
        {{form_end(form)}}
                    
                </div>
        
        <div class="col-md-1"></div>
                
                <div class="col-md-7">
                    
                    <h2> State User </h2>
                    
                    <hr>
                    
        <table class="table">
            <thead>
              <tr>
                <th><center>{{ knp_pagination_sortable(pagination, 'First name', 'u.fristname') }}</center></th>
                <th><center>{{ knp_pagination_sortable(pagination, 'Last name', 'u.lastname') }}</center></th>
                <th><center>State</center></th>
                <th><center>Action</center></th>
              </tr>
            </thead>
{% for user in pagination %}
            <tbody>
              <tr data-id="{{ user.id }}">
                <td><center>{{ user.fristname }}</center></td>
                <td><center>{{ user.lastname }}</center></td>
                <td><center>
                    {% if user.active == 1 %}
                        <span class="glyphicon glyphicon-ok text-success"> Active</span>
                    {% elseif user.active == 0 %}
                        <span class="glyphicon glyphicon-time text-danger"> Waiting</span>
                    {% endif %}</center>
                </td>
                <td><center><a href="{{ path('rac_rac_view', {id: user.id}) }}" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></a></center></td>
              </tr>
            </tbody>
{% endfor %}
        </table>
                    
         <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>           
                </div>
                
                
		
	</div>
</div>
    
     
    
{% endblock %}