{% extends "layout.html.twig" %}

{% block body %}
    {{ parent() }}
    
  
    {{ form_start(form) }}
    
    <div class="col-md-3">
      <div class="form-group">
          {{form_widget(form.firstname, {'attr' : {'class' : 'form-control', 'placeholder' : 'Firs Name'} })}}
          <span class="text-danger">{{ form_errors(form.firstname) }}</span>
      </div>
      <div class="form-group">
          {{form_widget(form.lastname, {'attr' : {'class' : 'form-control', 'placeholder' : 'Last Name'} })}}
          <span class="text-danger">{{ form_errors(form.lastname) }}</span>
      </div>
      <div class="form-group">
          {{form_widget(form.identificationcard, {'attr' : {'class' : 'form-control', 'placeholder' : 'Identification Card'} })}}
          <span class="text-danger">{{ form_errors(form.identificationcard) }}</span>
      </div>
      <div class="form-group">
          {{form_widget(form.birthdate, {'attr' : {'class' : 'form-control', 'placeholder' : 'Birthdate'} })}}
          <span class="text-danger">{{ form_errors(form.birthdate) }}</span>
      </div>
      
    </div>
    
    <div class="col-md-3">
      <div class="form-group">
          {{form_widget(form.address, {'attr' : {'class' : 'form-control', 'placeholder' : 'Address'} })}}
          <span class="text-danger">{{ form_errors(form.address) }}</span>
      </div>
      <div class="form-group">
          {{form_widget(form.phone, {'attr' : {'class' : 'form-control', 'placeholder' : 'Phone'} })}}
          <span class="text-danger">{{ form_errors(form.phone) }}</span>
      </div>
      <div class="form-group">
          {{form_widget(form.mail, {'attr' : {'class' : 'form-control', 'placeholder' : 'E-mail'} })}}
          <span class="text-danger">{{ form_errors(form.mail) }}</span>
      </div>
      <div class="form-group">
          {{form_widget(form.commune, {'attr' : {'class' : 'form-control', 'placeholder' : 'Commune'} })}}
          <span class="text-danger">{{ form_errors(form.commune) }}</span>
      </div>
      
    </div>
    
    <div class="col-md-3">
      <div class="form-group">
          {{form_widget(form.vehicle, {'attr' : {'class' : 'form-control', 'placeholder' : 'Vehicle'} })}}
          <span class="text-danger">{{ form_errors(form.vehicle) }}</span>
      </div>
      <div class="form-group">
          {{form_widget(form.eps, {'attr' : {'class' : 'form-control', 'placeholder' : 'Eps'} })}}
          <span class="text-danger">{{ form_errors(form.eps) }}</span>
      </div>
      
      <div class="form-group">
          {{form_widget(form.annexed, {'attr' : {'class' : 'form-control', 'placeholder' : 'Annexed'} })}}
          <span class="text-danger">{{ form_errors(form.annexed) }}</span>
      </div>
      <div class="form-group">
          <label>
            {{ form_widget(form.active) }} &nbsp;&nbsp;Active
            <span class="text-danger">{{ form_errors(form.active) }}</span>
           </label> &nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp
        {{ form_widget(form.save, { 'label' : 'Update person', 'attr' : { 'class' : 'btn btn-warning' } }) }}
      </div>
    </div>
    
    <div class="col-md-3">
      {#
      <div class="form-group">
          {{ form_label(form.photo) }}
          {{form_widget(form.photo)}}
          <span class="text-danger">{{ form_errors(form.photo) }}</span>
      </div>
     #}
      <hr>
           
      
    </div>
    
    
    
    
    
    {{ form_end(form) }}
{% endblock %}